// 颜色定义规范
$loadimg_bg = #DDDDDB
$loadimg_color = #15428B
$header_left_bg = #2152bb
$header_center-bg1 = #1a3c88
$header_center-bg2 = #122555
$header_center-bg3 = #0e1a3c
$header_right_bg = #0b1026
$header_business_font_color = #717eb9
$header_business_border_color = #b9b9b9
$header_user-name_color = #4effde
$header_menu_hover_bg = #1d3770
$white = #fff
$home_tab_border_color = #2761de
$home_container_bg = #f0f2f5
$home_module_border_color = #dfdfdf
$footer_bg = #d5dee6
$footer_font_color = #6c7382
$input_font_color = #606266
$select_down_bg = #e4e7ed
$select_down_border_color = #f5f7fa
$select_down_selected_color = #409eff //也是按钮颜色
$home_font_color = #303133
$color-textblack = #3f3f3f
$color-textgray = #a7a7a7
$color-textblue = #356ce1
$jiantou_color = #e5e5e5
$table_header_color = #909399
$table_td_color_border = #ebeef5
$table_selected_bg = #eaf2ff
$left_menu_color = #5241e0
$input_border_color = #dcdfe6
//字体定义规范
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px
