@import "./reset.styl";
@import "./_mixin.styl";
/*  select下拉框样式1250px */
.textbox {
  border: none !important;
  border-radius: 0 !important;
  width: 100% !important;
}
.combo-arrow {
  background-color: #fff !important;
}
.combo-p {
  background-color: #fff;
}
.left-item-label {
  margin-right: 8px;
}
.textbox-text {
  color: #606266;
  font-size: $font-size-small !important; 
}
.combobox-item {
  color: #606266;
  font-size: $font-size-small !important; 
}
.combo-panel {
  border: 1px solid #f5f7fa !important;
}
.combobox-item-selected {
  background-color: #e4e7ed !important;
  color: #409eff !important;
  font-weight: bold;
}
.panel-fit,
.panel-fit body{
	overflow: auto !important;
	overflow-y: hidden !important;
	overflow-x: auto;
}
#Loading{
	position: absolute;
	z-index: 100;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: $loadimg_bg;
	text-align: center;
	padding-top: 20%;
	color: $header_left_bg;
}
.panel-body{
	padding: 0px !important;
	background-color: transparent !important;
}
.tabs-panels .panel+.panel .panel-body{
	padding-top: 8px !important;
}
.tabs-panels .panel+.panel{
	background-color: $home_container_bg !important;
}
/* 导航菜单样式222 */
.header-left{
	width: 36%;
	float: left;
	padding-left: 20px;
	background-color: $header_left_bg;
	box-sizing: border-box;
	height: 100%;
	position: relative;
}
.header-left h1{
	float: left;
	margin-top: 15px;
	margin-right: 10px;
}
.header-left h3{
	color: $white;
	font-size: $font-size-large-x;
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	top: 25px;
	padding-left: 110px;
	box-sizing: border-box;
}
.header-center{
	position: absolute;
	right: -45px;
	top: 0;
	height: 70px;
	width: 90px;
	z-index: 99;
	overflow: hidden;
	background-color: transparent;
	font-size: 0;
}
.header-center .skew-img{
	height: 100%;
	width: 100%;
}
.header-right{
	width: 64%;
	float: left;
	position: relative;
	padding: 11px 20px 0 33px;
	background-color: $header_right_bg;
	box-sizing: border-box;
	height: 100%;
	z-index: 55;
}
.header-business{
	width: 100%;
	box-sizing: border-box;
	font-size: $font-size-medium;
	padding-bottom: 5px;
	padding-right: 10px;
	overflow: hidden;
	height: 21px;
}
.header-business-item{
	background: transparent;
	float: right;
}  
.header-business-item .icon-xiaoxi{
	position: relative;
}
.header-business-item:last-child{
	padding: 0 20px 0 0;
	max-width: 180px;
	cursor: auto !important;
}
.header-business-item+.header-business-item{
	cursor: pointer;
	border-right: 1px solid $header_business_border_color;
	color: $header_business_font_color;
	padding: 0 20px;
}
.header-business .header-business-item:first-child{
	padding: 0 10px 0 18px;
	color: $header_business_font_color;
	cursor: pointer;
}
.user-name{
	color: $header_user-name_color !important;
	height: 18px;
	line-height: 18px;
}
.navbar{
	height: 30px;
	width: 100%;
	margin-top: 2px;
}
#pp{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar .l-btn{
	color: $white;
	flex: 1;
}
.navbar .l-btn:hover
.navbar .m-btn-plain-active{
	background-color: $header_menu_hover_bg;
	border: 1px solid transparent !important;
	border-radius: 0;
	color: $white !important;
}
.fa-sort-desc{
	position: absolute;
	right: 7px;
	top: 4px;
}
.navbar .panel-body{
	width: 100% !important;
}
.m-btn-downarrow{
	margin-top: -7px;
}
// 为顶部导航菜单添加蓝色背景色
// .menu-item
.menu{
	border: 0 !important;
	padding: 0 !important;
}
#mm{
	background-color: $white;
	border: 1px solid $home_module_border_color !important;
	width: 120px !important;
}
.menu-item{
	background-color: $header_menu_hover_bg;
	border: 0;
}
#mm .menu-item{
	background-color: $white;
}
.menu-item .menu-text{
	padding-left: 10px;
	color: $white;
}
#mm .menu-text{
	padding-left: 10px;
	color: #666;
}
.menu-item.menu-active{
	border-color:none !important;
	color:$white !important;
	background: $header_left_bg !important;
	border-radius: 0 !important;
}
#mm .menu-active{
	background: $home_module_border_color !important;
}
.m-btn-downarrow,
.menu-rightarrow{
	color: #fff !important;
	background: none !important;
	font-size: 14px !important;
}
.menu-line{
	display: none;
}
	// 右键菜单样式
#mm .cs-tab-menu{
	width:120px !important;
}
	// tab切换样式
.tabs-header,
.tabs-inner,
.tabs{
	border: none !important;
	background-color: $white !important;
	background: $white !important;
	filter: auto !important;
}
.tabs-header{
	padding-top: 0 !important;
}
// .tabs-disabled{
// 	opacity: 1 !important;
// }
.easyui-tabs .tabs-header{
	height: 37px !important;
}
.easyui-tabs  .tabs-wrap{
	height: 100% !important;
}
.easyui-tabs .tabs{
	height: 100% !important;
}
.easyui-tabs .tabs-inner{
	height: 37px !important;
	line-height: 37px !important;
}
.easyui-tabs li.tabs-selected .tabs-inner{
	border-bottom: 2px solid $home_tab_border_color !important;
	font-weight: normal !important;
}
	// 中间内容部分样式
.home-container{
	background-color: $home_container_bg;
}
.home-container-three{
	margin: 0 8px;
	padding: 8px 0;
	overflow: hidden;
}
// 左边样式
.home-left{
	float: left;
	width: 20%;
	box-sizing: border-box;
}
	// 中间样式
.home-center{
	float: left;
	width: 60%;
	padding: 0 8px;
	box-sizing: border-box;
}
.tabs-panels>.panel-htop+.panel-htop .panel-body{
	overflow hidden !important;
}
.home-center-container{
	box-sizing: border-box;
}
	// 右边样式
.home-right{
	float: left;
	width: 20%;
	box-sizing: border-box;
}
	// 底部样式
.home-footer{
	padding: 8px 0;
	text-align: center;
	font-size: $font-size-small;
	background-color: $footer_bg;
	color: $footer_font_color;
}
.info-text{
	margin-left: 40px;
}
// 嵌套iframe样式
iframe{
	height: 100% !important;
	position: static !important;
	width: 100% !important;
}
// 首页中间内容公共样式2
.home-business-item{
	border: 1px solid $home_module_border_color;
	box-sizing: border-box;
	background-color: $white;
}
.section-title{
	padding: 15px 18px;
	overflow: hidden;
}
@media screen and (min-height:980px) {
	.section-title{
		padding: 15px 30px
	}
}
.section-title-name{
	font-size: $font-size-medium;
	color: $color-textblack;
	font-weight: bold;
	float: left;
}     
.section-title-click{ // 可点击的编辑或全部按钮
	cursor: pointer;
	font-size: $font-size-small;
	color: $color-textgray;
	float: right;
	margin-top: 1px;
}
// 我的待办
.mytodo-container{
	height: 370px;
}
.hidden-dayWork{
	display: none;
}
.show-dayWork{
	display: block;
}
// 下拉框样式
.left-item{
	position: relative;
	height: 25px;
	margin-top: 10px;
}
.left-item-label{
	display: block;
	padding-top: 4px;
}
.left-item-div{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	padding-left: 72px;
	box-sizing: border-box;
}
.todo-header{
	height: 194px;
	width: 100%;
	background: rgb(131,198,245);
	position: relative;
	box-sizing: border-box;
}
.todo-header-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.todo-header-user{
	width: 100%;
	position: absolute;
	top: 10px;
	text-align: center;
}
.toto-username{
	font-size: $font-size-medium;
	font-weight: bold;
	line-height: 20px;
	color: #fff;
	no-wrap();
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
}
.todo-userimg{
	height: 60px;
	width: 60px;
	border: 2px solid #fff;
	border-radius: 50%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.userimg-input{
	position: absolute;
	left: 0px;
	top: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0;
	// filter: alpha(opacity=0);
}
.userimg-img{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.todo-usertext{
	text-align: left;
	color: #fff;
	padding: 0 20px;
	padding-top: 77px;
	.left-item{
		position: relative;
		height: 25px;
		margin-top: 10px;
	}
	.left-item-label{
		display: block;
		padding-top: 4px;
	}
	.left-item-div{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		padding-left: 72px;
		box-sizing: border-box;
	}
}
.todo-items{
	height: 176px;
	font-size: $font-size-medium;
	overflow: auto;
}  
.accordion .accordion-header{
	border: none !important;
	background: #fff !important;
}
.panel-title{
	color: $home_font_color;
	font-weight: normal;
}
.todo-bottom-title .fa{
	font-size: 16px;
	position: absolute;
	right: 17px;
	top: 7px;
	margin: 0;
	color: $color-textgray;
	font-weight: normal;
}
.todo-bottom-item{
	margin-top: 20px;
}
.todo-bottom-title{
	display: block;
	height: 32px;
	line-height: normal;
	border-bottom: none;
	position: relative;
	text-align: left;
	cursor: pointer;
}
.todo-item-p{
	height: 100%;
	position: relative;
	cursor: pointer;
}
.todo-itemvalue{
	font-weight: bold;
	color: $color-textblue;
	font-size: $font-size-medium;
	position: absolute;
	top: 8px;
	right: 37px;
	cursor: pointer;
}
.need-item{
	width: 190px;
	display: inline-block;
	overflow: hidden;
	height: 100% ;
	margin-left: 20px;
	cursor: pointer;
}   
.todo-itemname{
	position: absolute;
	display: inline-block;
	top: 7px;
	left: 36px;
}
.todo-bg0{
	width: 26px;
	height: 26px;
	margin-right: 10px;
	margin-top: 3px;
} 
.todo-bg1{
   width: 26px;
   height: 26px;
   margin-right: 10px;
   margin-top: 3px;
} 
.todo-bg2{
  width: 27px;
  height: 26px;
  margin-right: 10px;
  margin-top: 3px; 
} 
.todo-sublist{
	height: 35px;
	box-sizing: border-box;
	padding-left: 28px;
	padding-right: 25px;
	cursor: pointer;
	position: relative;
	width: 100%;
}
.todo-listvalue{
	color: #356ce1;
	position: relative;
	float: right;
	top: 50%;
	right: 0;
	transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
}
.todo-listtext{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	left: 35px;  
}
.todo-sublisteven{
	background-color: #c9e8f0;
}
@media screen and (min-height: 980px){
	.mytodo-container{
		height: 600px;
	}
	.todo-header{
		height: 350px;
	}
	.todo-header-user{
		top: 20px;
	}
	.todo-userimg{
		height: 80px;
		width: 80px;
	}
	.todo-usertext{
		padding-top: 115px;
		.left-item{
			margin-top: 35px;
			&+.left-item{
				margin-top: 40px;
			}
		}
	}
	.todo-items{
		height: 250px;
	}
	.todo-itemvalue{
		right: 57px;
	}
	.need-item{
		margin-left: 30px;
	}  
	.todo-bottom-item{
		margin-top: 36px;
	}
	.todo-bottom-title .fa{
		right: 30px;
	}
} 
// 专家值班
.duty-fulcontainer{
	height: 435px;
	margin-top: 10px;
}     
.duty-item{
	margin: 0 30px;
	position: relative;
	overflow: hidden;
	margin-top: 10px;
	&+.duty-item{
		margin-top: 17px;
	}	
}
.duty-userimg{
	width: 36px;
	height: 36px;
	background: url("../images/dutySpecialist_bg.png") no-repeat;
	background-size: 100% 100%;
	float: left;
}  
.duty-usertext{
	position: absolute;
	left: 46px;
	top: 2px; 
}
.duty-username{
	text-align: left;
}
.duty-name{
	font-size: $font-size-medium;
	color: $color-textblack;
	margin-right: 5px;
}
.duty-posit{
	font-size: $font-size-small;
} 
.duty-tel{
	font-size: $font-size-small;
	text-align: left;
	margin-top: 7px;
	color: $color-textgray;
}
@media screen and (min-height: 980px){
	.duty-fulcontainer{
		height: 600px;
	}
	.duty-item{
		margin: 0 40px;
		margin-top: 20px;
		&+.duty-item{
			margin-top: 30px;
		}
	}
	.duty-userimg{
		width: 46px;
		height: 46px;
		background: url("../images/dutySpecialist_bg.png") no-repeat;
		background-size: 100% 100%;
		float: left;
	}
	.duty-usertext{
		left: 60px;
	}  
} 
// 快速通道
.fast-fulcontainer{
	height: 416px;
	position: relative;
}
.fast-container{
	overflow: hidden
	margin: 0 18px
	.fast-item{
		width: 48%;
		height: 110px;
		margin-top: 12px;
		text-align: left;
		border-radius: 2px;
		cursor: pointer;
		float: left;
		.fast-item-icon{
			padding-left: 15px;
			padding-top: 15px;
			.iconfont{
				font-size: 30px;
			}  
		}
		.fast-item-text{
			padding-right: 10px;
			text-align: right;
			position: relative;
			height: 20px;
			.fast-text-new{
				display: block;
			}
			.fast-text-name{
				font-size: $font-size-small;
				position: absolute;
				top: 10px;
				right: 15px;
				left: 15px;
				color: $color-textblack;
				display: block;
				line-height: 16px;
			}
		}  
	}
	.fast-item0{
		margin-top: 0;
		background-color: #deefff;
		.iconfont{
			color: #93b5f2;
		}  
	}
	.fast-item1{
		margin-top: 0;
		background-color: #e9f7f7;
		margin-left: 4%;
		.iconfont{
			color: #68b8e7;
		}  
	}
	.fast-item2{
		background-color: #f8efea;
		.iconfont{
			color: #f6a87c;
		}  
	}
	.fast-item3{
		background-color: #e9ebf7;
		margin-left: 4%;
		.iconfont{
			color: #94a2f6;
		}  
	}
	.fast-item4{
		background-color: #f4e9f7;
		.iconfont{
			color: #e6a1f8;
		}  
	}
	.fast-item5{
		background-color: #f7f5e9;
		margin-left: 4%;
		.iconfont{
			color: #dbc857;
		}  
	}
}
.hidden-fast{
	display: none;
}
.show-fast{
	display: block;
}
.fast-nodata{
	position: absolute;
	width: 100%;
	top: 30%;
	font-size: $font-size-medium;
	color: $table_header_color;
	line-height: 26px;
	text-align: center;
} 
@media screen and (min-height: 980px){
	.fast-fulcontainer{
		height: 600px;
	}
	.fast-container{
		margin-top: 6px;
		.fast-item{
			height: 167px;
			.fast-item-icon{
			   padding-top: 50px;
			}
		}
	}	
}
// 短信定制
.sms-fulcontainer{
	height: 390px;
	margin-top: 10px;
}   
.sms-container{
	margin: 5px 15px 25px 15px;
	overflow: hidden;
	.sms-item{
		height: 105px;
		width: 50%;
		float: left;
		position: relative;
		box-sizing: border-box;
		font-size: $font-size-medium;
		cursor: pointer;
		.sms-absoute{
			position: absolute;
			width: 100%;
			top: 22px;
			text-align: center;
			.sms-text{
				display: block;
				padding: 10px 5px 0 5px;
				padding-top: 10px;
				color: $color-textblack;
				text-align: center;
				white-space: nowrap;
			} 
			.sms-bg0{
				width: 44px;
				height: 36px;
			}  
			.sms-bg1{
				width: 31px;
				height: 36px;
			} 
			.sms-bg2{
				width: 33px;
				height: 36px;
			}  
			.sms-bg3{
				width: 36px;
				height: 36px;
			} 
			.sms-bg4{
				width: 41px;
				height: 36px;
			}  
			.sms-bg5{
				width: 36px;
				height: 36px;
			}  
		} 
	}
	.sms-item0{
		border-right: 1px solid $home_module_border_color;
		border-bottom: 1px solid $home_module_border_color;
	}  
	.sms-item1{
		border-bottom: 1px solid $home_module_border_color;
	}
	.sms-item2{
		border-right: 1px solid $home_module_border_color;
		border-bottom: 1px solid $home_module_border_color;
	}
	.sms-item3{
		border-bottom: 1px solid $home_module_border_color;
	}
	.sms-item4{
		border-right: 1px solid $home_module_border_color;
	}
}
@media screen and (min-height: 980px){
	.sms-fulcontainer{
		height: 600px;
	}
	.sms-container .sms-item{
		height: 176px;
	}
	.sms-container .sms-item .sms-absoute .sms-text{
		padding-top: 20px;  
	}    
} 
// 最新公告
.lastnew-fulcontainer{
	height: 240px;
} 
.lastnew-container{
	position: relative;
}
.swiper-container{
	height: 196px;
	width: 100%;
}
.swiper-wrapper,
.swiper-slide{
	width: 100% !important;
}
.lastnew-container .pagination {
  position: absolute;
  z-index: 20;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 15px;
  text-align: center;
}
.swiper-pagination-switch {
  display: block;
  width: 10px;
  height: 15px;
  background: rgb(164,209,255);
  cursor: pointer;
}
.swiper-pagination-switch+.swiper-pagination-switch{
	margin-top: 10px;
}
.swiper-active-switch {
  background: $select_down_selected_color;
}
.lastest-item{
	margin: 6px 35px 0 20px;
	font-size: $font-size-small;
	overflow: hidden;
	position: relative;
	&+.lastest-item{
		margin-top: 24px;
	}  
	.text-left{
		color: #F3BF44;
		height: 14px;
		width: 70px;
		float: left;
		.icon-jiantoucu{
			margin-right: 5px;
			font-size: 13px;
			color: $jiantou_color;
		} 
	}
	.text-center{
		height: 14px;
		line-height: 14px;
		text-align:left;
		color: $color-textblack;
		no-wrap();
		cursor: pointer;
		position: absolute;
		padding-left: 80px;
		padding-right: 100px;
		width: 100%;
		box-sizing: border-box;
		left: 0;
		top: 0;
	} 
	.text-right{
		width:100px;
		height: 14px;
		color: $color-textgray;
		text-align: right;
		float: right;
	} 
}
@media screen and (min-height: 980px){
	.lastnew-fulcontainer{
		height: 300px;
	} 
	.swiper-container{
		height: 256px;
		width: 100%;
	}
	.lastest-item{
		margin: 18px 35px 0 20px;
		&+.lastest-item{
			margin-top: 33px; 
		}
	}      
}
// 待办列表
.upcomlist-fulcontainer{
	height: 352px;
	position: relative;
	overflow: hidden;
	margin-top: 10px;
}
.upcomlist-container{
	height: 298px;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}
@media screen and (min-height: 980px){
	.upcomlist-fulcontainer{
		height: 530px;
	}
	.upcomlist-container{
		height: 476px;
	}
}  
// 留言板
// 重置窗口部分样式
.window{
	border: 1px solid transparent;
	background: #fff;
	padding: 10px;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important
	filter: none !important;// 去掉针对ie8的背景色
}
.window-header{
	border: 0 !important;
	border-bottom: 1px $table_td_color_border !important;
	padding: 0 !important;
	margin: 0 !important;
}
.window-header .panel-title{
	text-align: center;
}
.messager-window{
	border: 0 !important;
}
.messager-window .panel-title{
	text-align: left;
	background: none !important;
}
.window .window-body{
	border: 0 !important;
}
.panel-header{
	filter: none !important;
}
.win-center-container .panel-body{
	padding: 30px 20px 0 20px !important;
}
/* 第一个center */
.win-center-container{
	border: 0 !important;
}
/* 第一个center中的north */
.layout-panel-north .panel-body{
	border: 0 !important;
}
.layout-panel-south .panel-body{
	border: 0 !important;
}
/* 第一个center中的center */
.table-center-container{
	border: 0 !important;
}
.window-proxy-mask, .window-mask{
	background: #000;
}
.newbuild-list{
	position: relative;
	margin-top: 10px;
}
.newbuild-list+.newbuild-list{
	margin-top: 20px;
}
.newbuild-list .newbuild-list-label{
	position: relative;
	font-size: $font-size-small;
	width: 35px;
	text-align: right;
	display: inline-block;
}
.newbuild-list0{
	height: 25px;
}
.newbuild-list1{
	height: 55px;
}
.newbuild-list-div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 40px;
	box-sizing: border-box;
}
.newbuild-list-input{
	width: 100%;
	border: 1px solid $input_border_color !important;
	padding-left: 10px;
	height: 25px;
	color: #666;
}
.newbuild-list-input:focus{
	border: 1px solid transparent !important;
	outline: $select_down_selected_color solid 1px !important;
}
.newbuild-list-area{
	width: 100%;
	border: 1px solid $input_border_color !important;
	padding: 0 10px;
}
.newbuild-list-area:focus{
	border: 1px solid transparent !important;
	outline: $select_down_selected_color solid 1px !important;
}
.newbuild-list-span{
	color: #f00;
	position: absolute;
	top: 4px;
	left: 0;
	font-size: $font-size-small;
	display: inline-block;
}
.import-red{
	color: #f00;
	position: absolute;
	left: 20px;
	bottom: -14px;
	font-size: $font-size-small;
}
// alert弹框样式
.dialog-button{
	border: 0 !important;
}
.dialog-button{
	background: $white !important;
}
.messager-button .l-btn,
.dialog-button .l-btn{
	background: $select_down_selected_color !important;
	border: 0 !important;
	color: #fff !important;
	margin-left: 0;
	width: auto;
	padding: 5px 15px;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important
	height: 16px;
	box-sizing: content-box;
}
.messager-button .l-btn .l-btn-left{
	background-image: none !important;
	padding: 0 !important;
}
.dialog-button .l-btn .l-btn-text{
	margin: 0;
	line-height: normal;
	font-size: $font-size-small !important;
}
.messager-body{
	padding-top: 20px !important;
}
.messager-window .panel-title{
	font-size: $font-size-large;
	color: $home_font_color;
}
.messager-window .messager-body{
	color: $input_font_color;
}
// 按钮
.newbuild-btns{
	margin-top: 20px;
}
// 自定义确定和取消按钮样式
.eoms-btn{
	font-size: $font-size-small !important;
	display: inline-block;
	padding: 5px 15px;
	background-color: $select_down_selected_color;
	border: 1px solid $select_down_selected_color;
	color: #fff;
	cursor: pointer;
	float: right;
	margin-left: 10px;
}
.eoms-btn:focus{
	outline:none;
    filter: chroma(color=#000000);
}
.eoms-cancel:focus{
	outline:none;
	filter: chroma(color=#000000);
}
.eoms-cancel{
	font-size: $font-size-small !important;
	display: inline-block;
	padding: 5px 15px;
	background-color: $white;
	border: 1px solid $input_border_color;
	color: $input_font_color;
	cursor: pointer;
	float: right;
	margin-left: 10px;
}
// 弹窗确定和取消按钮样式
.messager-button{
	overflow: hidden;
}
.messager-button .l-btn{
	float: right;
	margin-left: 10px;
}
.messager-button .l-btn+.l-btn{
	background-color: $white !important;
	border: 1px solid $input_border_color !important;
	color: $input_font_color !important;
}
.messager-icon{
	display: none;
}
// 按钮定义结束
.message-fulcontainer{
	height: 203px;
	margin-top: 10px;
}
.message-container{
	margin: 0 22px;
	.message-item{
		position: relative;
		overflow: hidden;
		height: 20px;
		&+.message-item{
			margin-top: 18px
		}
		.text-left{
			position: absolute;
			text-align: left;
			padding-left: 15px;
			padding-right: 100px;
			cursor: pointer;
			height: 20px;
			no-wrap();
			width: 100%;
			box-sizing: border-box;
			.text-name{
				display: inline-block;
				width: 90px;
				font-size: $font-size-medium;
				color: $color-textblue;
			} 
			.message-quot{
				color: #bed0f6;
				font-size: 20px;
				font-style: normal;
			} 
			.text-content-title{
				margin: 0 3px;
				font-style: normal;
				font-size: $font-size-medium;
			}  
		}
		.text-right{
			width: 100px;
			float: right;
			text-align: right;
			font-size: $font-size-small;
			color: $color-textgray;
			margin-top: 4px;
		}  
	}
}
.message-color{
	color: $color-textblue;
	margin-right: 10px;
} 
.message-bg{
	display: inline-block;
	background: url('../images/newMessage_bg.png') no-repeat;
	background-size: 100% 100%;
	width: 14px;
	height: 14px;
}
@media screen and (min-height: 980px){
	.message-fulcontainer{
		height: 360px;
	}
	.message-container .message-item{
		margin-top: 33px;
		&+.message-item{
			margin-top: 45px; 
		}  
	} 
}
      
   